@keyframes moveLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.svg-animation {
  animation: moveLeftToRight 5s linear infinite;
}

.svg-animation.reverse {
  animation: moveRightToLeft 5s linear infinite;
}